<h3>Located in {{rental.city.name}}, this {{rental.bedrooms}} bedroom {{rental.type}} is available by appointment through {{rental.owner}}.</h3>
<br>

<button class="btn btn-danger"{{action 'delete' rental}}>Delete</button>
<figure class="figure">
  <img class="figure-img img-fluid img-rounded" src={{rental.image}} alt={{rental.type}}>
</figure>
<p></p>
