Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}} is available by appointment through {{rental.owner}}.
<br>

<button class="btn btn-danger"{{action 'delete' rental}}>Delete</button>
<p><img src={{rental.image}} alt={{rental.type}}></p>
